
<h2 class="textfont text-center mt-3">What's on your mind?</h2>
<div class="container" style="background-color: white;">
    <div class="row text-center">
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Pure-veg Delights.png" alt="Pure Veg Delights"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Biryani.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Burgers.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Cakes.jpeg" alt="Pizzas"></a>
        </div> 
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Pizzas.jpeg" alt="Pizzas"></a>
        </div> 
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Noodles.jpeg" alt="Pizzas"></a>
        </div> 
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/North Indian.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Pure Veg.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Pav Bhaji.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Momos.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Ice-Cream.jpeg" alt="Pizzas"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="#"><img class="img-fluid" src="images/menu-images/Chinese.jpeg" alt="Pizzas"></a>
        </div>
    </div>
</div>